.root {
    -fx-font-family: 'Joystix Monospace';
    -fx-background-color: black;
}

.title {
    -fx-font-size: 25px;
    -fx-alignment: center;
}

.list-view {
    -fx-background-color: black;
}

.list-view .list-cell {
	-fx-font-size: 20px;
    -fx-background-color: black;
    -fx-alignment: center;
    -fx-text-fill: #00ff48;

}