.root {
	-fx-font-family: 'Joystix Monospace';
    -fx-background-image: url("../background/MenuBackground.png");
    -fx-background-size: 100%;
}
.button {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: green;
    -fx-font-size: 15px;
    -fx-font-family: 'Joystix Monospace';
}


.start-button{

    -fx-padding: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../button/button.png");
    -fx-background-size: stretch;

}